@font-face {
    font-family: 'Space Grotesk';
    src: url(Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format(truetype);
}

body {
    display: flex;
    font-family: 'Space Grotesk', Courier, monospace;
}

.decoration-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    background-image: url(turntables-background-medium.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;

}

img {
    height: 50px;
}

p {
    color: whitesmoke;
}

.image-credits {
    height: 50vh;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    background-color: rgb(18, 17, 17, 0.7);
    width: 100%;
}

.form-area {
    background-color: lightsalmon;
    height: 100vh;
    width: 60%;
}

.form-info {
    background-color: brown;
    height: 30vh;
}

.form-container {
    background-color: bisque;
    height: 400px;
    width: 100%;
    padding: 30px;
}

fieldset {
    border: none;
    display: flex;
    gap: 10px;
}

.field-container {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}