@font-face {
    font-family: 'Space Grotesk';
    src: url(Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format(truetype);
}

body {
    display: flex;
    font-family: 'Space Grotesk', Courier, monospace;
}

:root {
    --accent-1: #ae0e72;
    --accent-2: #e9b100;
    --dark-green: #21494b;
    --light-gray: #f3f4f6;
}

.decoration-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    background-image: url(turntables-background-medium.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;

}

img {
    height: 50px;
}

.decoration-area p {
    color: whitesmoke;
}

.image-credits {
    height: 50vh;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    background-color: rgb(18, 17, 17, 0.7);
    width: 100%;
}

.form-area {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    height: 100vh;
    width: 60%;
}

.form-info {
    padding: 20px 30px;
    background-color: var(--light-gray);
    height: 40vh;
}

.form-container {
    background-color: white;
    height: 35vh;
    padding: 20px 30px;
    font-style: var(--accent-1);
}

.submit-container {
    background-color: var(--light-gray);
    padding: 20px 30px;
    height: 25vh;
}

fieldset {
    border: none;
    display: flex;
    gap: 10px;
}

.field-container {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}