@font-face {
    font-family: 'Space Grotesk';
    src: url(Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format(truetype);
}

body {
    display: flex;
    font-family: 'Space Grotesk', Courier, monospace;
    color: whitesmoke;
}

:root {
    --accent-1: #ae0e72;
    --accent-2: #e9b100;
    --dark-green: #21494b;
    --light-gray: #f3f4f6;
    --blue-focus: #07adc7;
    --invalid-red: #d4432c;
    --dark: #2d2e2e;
}

a {
    color: var(--accent-1);
}

.decoration-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    background-image: url(turntables-background-medium.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;

}

.upper-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 60vh;
    width: 100%;
}

img {
    height: 50px;
    align-self: center;
}

.form-container h2 {
    color: var(--accent-1);
    padding: 0 12px;
}

.image-credits {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50vh;
}


.logo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(18, 17, 17, 0.85);
    padding: 0 15px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
}

.image-credits {
    width: 100%;
    text-align: center;
}

.image-credits p {
    background-color: rgb(18, 17, 17, 0.85);
    margin: 0;
    padding: 16px 0;
}

.image-credits p a {
    color: whitesmoke;
}

.form-area {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    height: 100vh;
    width: 60%;
    flex: 1;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 50px;
    background-color: var(--dark);
    flex: 40;
}

.form-container {
    background-color: #1f1f1f;
    flex: 35;
    padding: 20px 50px;
    padding-bottom: 30px;
    font-style: var(--accent-1);
}

.submit-container {
    background-color: var(--dark);
    padding: 40px 50px;
    flex: 25;
}

fieldset {
    border: none;
    display: flex;
    gap: 30px;
}

.field-container {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}

input {
    background-color: #2d2e2e;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 1.5rem;
    color: whitesmoke;
}


input:user-invalid {
    border: 1px solid rgb(222, 77, 77);
}
  
  /* Fallback for browsers without :user-invalid support */
@supports not selector(:user-invalid) {
    input:invalid {
      border: 1px solid rgb(222, 77, 77);
    }
  }

input:focus {
    border: 1px solid var(--blue-focus) !important;
    box-shadow: 0 0 1px 1px var(--blue-focus);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

button {
    background-color: var(--accent-2);
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin: 0 12px;
}

button:hover {
    background-color: var(--accent-1);
    color: whitesmoke;
}

.form-area p {
    padding: 0 12px;
}



